---
title: Index page
navBg: true

---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "components/_nav.html" %}

<!--begin article-page-->
<div class="article-page article">
	<!--begin l-->
	<div class="l">
		<h1 >About us</h1>
		<h4>What does ElTrade Group specialize?</h4>
		<p>Launched in 2018 ElTrade Group is an online investment company which offers a range of investment services, providing expert financial advice. It offers greatest opportunities for its clients all over the world. As an independent legal entity ElTrade operates to the full extent on it's own.</p>
		<br>
		<h4>What are the proofs of ElTrade legal activity?</h4>
		<p>If you turn to the tab "Legal" you will find all the necessary approval. </p>
		<br>
		<h4>For how long have you been dealing with this sphere? </h4>
		<p>All team has been working in investment and trading area since 2007. We've been  supporting the largest companies at that time. One day we've started our own offline business. And now we are glad to present to the world our online investment platform. </p>


	</div>
	<!--end l-->


</div>
<!--end article-page-->


{% endblock %}
