---
title: Index page
navBg: true

---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "components/_nav.html" %}

<!--begin article-page-->
<div class="article-page article">
	<!--begin l-->
	<div class="l">
		<h2 >ОБЩИЕ</h2>
	<h4>На чем специализируется ElTrade Group?</h4>
	<p>Компания ElTrade Group, созданная в 2018 году, является онлайн-инвестиционной компанией, которая предлагает широкий спектр инвестиционных услуг, предоставляя экспертные финансовые консультации. Мы предлагаем большие возможности для своих клиентов по всему миру. В качестве независимого юридического лица ElTrade действует в полном объеме и несет полную ответственность.</p>
	<br>
	<h4>Где можно найти подтверждение существования компании ElTrade?</h4>
	<p>Если вы перейдете на вкладку «Правовая информация», вы найдете свидетельство о регистрации компании.</p>
	<br>
	<h4>Как давно вы работаете в этой сфере?</h4>
	<p>Вся команда работает в сфере инвестиций и трейдинга с 2007 года. Мы сотрудничали с крупнейшими компаниями того времени. Однажды мы начали собственный оффлайновый бизнес. И теперь мы рады представить миру нашу онлайн-инвестиционную платформу.</p>
	<br>
	<h4>Какие риски связаны с инвестициями?</h4>
	<p>Для всех это не секрет, что инвестиции - это рискованный процесс, как и любой другой бизнес. Но команда экспертов ElTrade хочет заверить вас, что у нас много опыта в этой сфере, и мы делаем все возможное, чтобы минимизировать риски. Еще одно доказательство заключается в том, что все средства застрахованы и покрыты резервным фондом. Это правило распространяется на всех наших клиентов сразу после внесения депозита.</p>
	<br>
	<h4>Вы защищаете личную информацию своих клиентов?</h4>
	<p>Мы стремимся предоставить нашим клиентам лучшие инвестиционные условия, мы всегда делаем все возможное, чтобы иметь высокий уровень безопасности. Только несколько топ сотрудников имеют доступ к вашей информации и только с целью контроля наших сетей. Разумеется, сертификаты безопасности SSL EV являются обязательными, все они доступны с самым сильным SSL-шифрованием EV. Защита DDos также находится на очень высоком уровне.</p>
	<br>
	<h4>Есть ли консультации в офлан режиме?</h4>
	<p>Офлайн-консультации доступны только крупнейшим инвесторам. Если вам нужна помощь, мы будем рады предоставить консультацию бесплатно. Обратитесь в нашу службу поддержки, и мы проведем консультацию.</p>
	<br>
	<h4>Как насчет уплаты налогов?</h4>
	<p>Мы отвечаем за предоставление высококачественного инвестиционного опыта, поэтому мы обрабатываем все доходы в оффшорной зоне, устраняя налоговые обязательства.</p>
	<br>
	<h4>В каком возрасте я могу начать сотрудничество с ElTrade?</h4>
	<p>18 лет — это минимальный возраст.</p>
	<br>
	<br>
	<h2>ИНВЕСТИЦИИ</h2>
	<h4>С чего начать?</h4>
	<p>Вам нужно зайти на сайт <a href="www.eltradegroup.com">www.eltradegroup.com</a>, нажать кнопку «SignUp» и зарегистрироваться. Регистрация довольно проста и не займет много времени.</p>
	<br>
	<h4>С какими системами оплаты вы работаете?</h4>
	<p>Сегодня мы принимаем BitCoin, Payeer и Perfect Money.</p>
	<br>
	<h4>Что такое электронная валюта?</h4>
	<p>Электронные валюты - электронная валюта относится к деньгам, которые обмениваются только электронным способом. Обычно это означает использование компьютерных сетей, Интернета и цифровых систем. Электронный перевод средств (EFT), прямой депозит, цифровая золотая валюта и виртуальная валюта являются примерами электронных денег. Кроме того, это коллективный термин для финансовой криптографии и технологий.</p>
	<br>
	<h4>Как я могу создать и зарегистрировать счет в электронной валюте?</h4>
	<p>Вы должны посетить любой из следующих сайтов, которые вам лучше подходят: <a href="www.payeer.com">www.payeer.com</a>, <a href="www.coinpayments.net">www.coinpayments.net</a> или <a href="www.perfectmoney.com"></a>, и зарегистрировать свою учетную запись бесплатно. Обратите внимание на варианты пополнения своего счета в электронной валюте или используйте независимую службу обмена электронных валют.</p>
	<br>
	<h4>Почему электронная валюта?</h4>
	<p>Использование электронной валюты сегодня быстро, выгодно, удобно и надежно.</p>
	<br>
	<h4>Какие валюты вы принимаете?</h4>
	<p>USD принимается в качестве валюты депозита.</p>
	<br>
	<h4>Что означает рабочий день?</h4>
	<p>Рабочие дни - трейдинговые дни с понедельника по пятницу. Национальные праздники и выходные дни исключены.</p>
	<br>
	<br>
	<h2>УЧЕТНАЯ ЗАПИСЬ</h2>
	<h4>Как я могу создать учетную запись в ElTrade Group?</h4>
	<p>Вам нужно перейти на домашнюю страницу (<a href="www.eltradegroup.com">www.eltradegroup.com</a>) и найти там кнопку «SignUp». Там вы найдете регистрационную форму.</p>
	<br>
	<h4>Что мне делать, чтобы изменить пароль?</h4>
	<p>Вы можете сделать это в своем личном кабинете, обратившись к разделу «Редактировать профиль».</p>
	<br>
	<h4>Можно ли сбросить пароль в случае его потери?</h4>
	<p>Для таких случаев есть инструмент «Восстановление пароля». Вы найдете его на странице SignIn.</p>
	<br>
	<h4>Как я могу контролировать свою инвестиционную деятельность?</h4>
	<p>Ваша учетная запись отражает все изменения статистики и баланса, поэтому вам нужно просто войти в свой личный кабинет.Ваша учетная запись отражает все изменения статистики и баланса, поэтому вам нужно просто войти в свой личный кабинет.</p>
	<br>
	<h4>Могу ли я поделиться информацией о моем входе?</h4>
	<p>Пожалуйста, обратите внимание на несанкционированные сообщения электронной почты. Не используйте неизвестные ссылки и удаляйте электронные письма такого типа. Для получения более подробной информации, пожалуйста, обратитесь к нашим «Рекомендациям по безопасности».</p>
	<br>
	<h4>Какой пароль выбрать?</h4>
	<p>Использование строчных и прописных букв вместе с цифрами обеспечивает более надежную защиту.</p>
	<br>
	<h4>Когда я могу внести депозит?</h4>
	<p>Вы можете начать сразу после оплаты. Все депозиты отражаются мгновенно. Если что-то не так, обратитесь в нашу службу поддержки.</p>
	<br>
	<h4>Могу ли я использовать свой положительный баланс для финансирования своей учетной записи?</h4>
	<p>Нажав на вкладку «Добавить средства» в своей учетной записи, вы можете внести депозит через способ оплаты, который вам удобней.</p>
	<br>
	<h4>Могу ли я финансировать свою учетную запись за пределами своей учетной записи?</h4>
	<p>Нет, это будет невозможно. Пожалуйста, используйте раздел «Добавить средства» для финансирования.</p>
	<br>
	<h4>Могу ли я рассчитывать на возврат моего депозита?</h4>
	<p>Конечно, вы получаете свой депозит в конце трейдингового периода.</p>
	<br>
	<br>
	<h2>ВЫПЛАТЫ И СНЯТИЕ СРЕДСТВ</h2>
	<h4>Как часто я могу снимать свою прибыль?</h4>
	<p>Вы можете снять свою прибыль в любое время.</p>
	<br>
	<h4>Что мне делать, чтобы снять свою прибыль?</h4>
	<p>Перейдите в раздел «Снятие средств» в своей учетной записи.</p>
	<br>
	<h4>Сколько времени занимает перечисление средств?</h4>
	<p>Все выплаты отражаются на вашем электронном валютном счете мгновенно. Если этого не произойдет - по причине задержки сервера электронной валюты, обратитесь в нашу службу поддержки. Но на самом деле это очень редкий случай.</p>
	<br>
	<h4>Могу ли я снять свои инвестиции до окончания трейдингового периода?</h4>
	<p>Принимая во внимание некоторые обстоятельства, мы можем высвободить сумму инвестиций до конца трейдингового периода. Но это, как правило, исключение, и вам придется обратиться в нашу службу поддержки. Мы рекомендуем держать инвестиции до конца трейдингового периода.</p>
	<br>
	<h4>Когда можно увидеть прибыль на моем счете?</h4>
	<p>Вы начнете получать прибыль на следующий рабочий день после проведения депозита.</p>
	<br>
	<br>
	<h2>ПАРТНЕРСКАЯ (РЕФЕРАЛЬНАЯ) ПРОГРАММА</h2>
	<h4>Каковы условия Партнерской программы?</h4>
	<p>Партнерская программа дает вам возможность зарабатывать больше, когда вы приводите кого-нибудь в нашу компанию. Если клиент регистрируется и создает учетную запись, то всякий раз, когда он / она инвестирует, вы получаете комиссию от этого.</p>
	<p>Существует 3 уровня реферальной программы. 1-й уровень — это когда кто-то подписывает ваш реферал напрямую, и вы получаете совместную комиссию от своих инвестиций, второй - все те другие участники, которые подписали ваш 1-й уровень, отнесенные к нему, а третий, последний уровень, — это те, кто пришли через подписку членов второго уровня. Вы получаете комиссию со всех трех уровней.</p>
	<br>
	<h4>Каковы коэффициенты совместной миссии для реферальной программы?</h4>
	<ul>
		<li>Мы предлагаем 8% для 1-го уровня</li>
		<li>Мы предлагаем 2% для 2-го уровня</li>
		<li>И 1% для 3-го</li>
	</ul>
	<br>
	<h4>Нужно ли делать депозит?</h4>
	<p>Не обязательно делать собственные депозиты. Вам нужно только привлечь новых клиентов, используя вашу реферальную ссылку.</p>
	<br>
	<h4>Как я могу получить свою реферальную ссылку?</h4>
	<p>Вы найдете свою реферальную ссылку после перехода на вкладку «Партнерская программа» в личном кабинете.</p>
	<br>
	<h4>Как получить мои реферальные бонусы?</h4>
	<p>Реферальная комиссия рассчитывается автоматически и отражается на вашем балансе в той же электронной валюте, что и депозит.</p>
	<br>
	<h4>Когда можно снять комиссионные вознаграждения?</h4>
	<p>Вы можете снимать бонусы в любое время.</p>
	<br>
	<h4>Существует ли ограничение для реферальной комиссии?</h4>
	<p>Рефералы приветствуются без всяких ограничений, а комиссия добавляется на ваш баланс после каждого нового депозита.</p>
	<br>
	<h4>У вас есть рекламные материалы?</h4>
	<p>Баннеры можно найти на вкладке «Продвижение».</p>
	<br>
	<h4>Могу ли я привлекать самого себя через реферальную ссылку?</h4>
	<p>Цель партнерской прграммы заключается в привлечении большего количества людей, чтобы увеличить трафик веб-сайта, поэтому, ссылаясь на себя, рассматривается как обман.</p>
	<p>Если у вас еще остались вопросы, обратитесь в нашу службу поддержки.</p>
	</div>
	<!--end l-->


</div>
<!--end article-page-->


{% endblock %}
