---
title: Index page
navBg: true

---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "components/_nav.html" %}

<!--begin article-page-->
<div class="article-page article">
	<!--begin l-->
	<div class="l">
		<h1 >Как начать</h1>
		<ul>
			<li>
				Чтобы начать сотрудничество с ElTrade Group, вам нужно перейти на вкладку SignUP для регистрации. После этого вы готовы продолжить инвестирование. В ElTrade доступны различные платежные системы в электронной валюте.
			</li>
			<li>
				<p>PerfectMoney и Payeer - доступные платежные системы в электронной валюте. Вы можете начать финансирование, используя следующие надежные услуги обмена:</p>
				<p><a href="http://www.ebuygold.org">http://www.ebuygold.org</a></p>
				<p><a href="http://www.xmlgold.eu">http://www.xmlgold.eu</a></p>
				<p><a href="https://www.rchange.net">https://www.rchange.net</a></p>
				<p>Поскольку новые сервисы обмена появляются каждый день, мы не ограничиваемся этими тремя службами. Некоторые другие сертифицированные обменные пункты, которые могут помочь вам в пополнении, приемлемы.</p>
				<p>Мы предлагаем следующую ссылку, чтобы найти сертифицированных партнеров Perfect Money:
					<a href="https://perfectmoney.is/business-partners.html">https://perfectmoney.is/business-partners.html</a></p>
				</li>
				<li>
					<p>Bitcoin - первая цифровая валюта, которой удалось избежать банков и платежных процессоров, поскольку для участия требуется только подключение к Интернету. Биткойн стал децентрализованным международным рынком. И здесь есть инструкции для вашего начала работы с Bitcoin:</p>
					<p>Вы можете купить небольшое количество биткойнов онлайн. Если вы покупаете менее 2000 долларов Биткойна или являетесь новичком в криптовалютах, попробуйте одного из комбинированных трейдеров кошелька / биткойна, чтобы получить возможность теста. Примеры включают Coinbase и Xapo. Вы можете купить небольшое количество биткойнов в обмен на приблизительно 1% платы за обслуживание. Как банк, они также будут хранить ваш биткойн для вас на своих серверах.</p>
					<p>Вы можете купить большое количество биткойнов через торговую биржу. Если вы покупаете более 2000 долларов Биткойна, вы, безусловно, хотите воспользоваться более низкими комиссионными ставками, предлагаемыми на бирже. Эти биржи функционируют как фондовый рынок, при этом спрэды bid / ask меняются 24 часа в сутки. Создание учетной записи на бирже - это аналогичный процесс открытия нового банковского счета, вам придется указать свои реальные личные данные и контакты и отправить деньги. Различные страны и валюты имеют разные обмены биткойнов, которые лучше всего использовать в каждой области:</p>
					<p>Доллары США к биткойну - Bitfinex, GDAX (принадлежит Coinbase)</p>
					<p>Евро в Биткойн - Kraken</p>
					<p>Китайский юань - биткойн - BTCC, Huobi или OKCoin</p>
					<p>Сегодня есть много городов с банкоматами Bitcoin, где вы можете брать деньги с 5-8% комиссионных. Список банкоматов можно найти на сайте CoinATMradar.com.
					</p>
					<p>LocalBitcoins представляет оффлайн дилеров биткойнов рядом с вами, которые могут продать вам биткойн. Во всем мире есть люди, которые могут загружать биткойны на ваш телефон за солидную комиссионные. Но лучше начать с торговли за небольшие суммы денег, чтобы убедиться, что ваш партнер пользуется доверием.</p>
					<p>Вы можете настроить свой первый биткойн-кошелек. Если вы не разбираетесь в технологиях, вы можете сохранить свой биткойн в учетной записи, где вы их купили. Практически большинство держателей биткойнов делают именно это. Но привлекательность биткойна не имеет значения для того, чтобы никакая третья сторона не контролировала вас. Кстати, поскольку биржи хранят сотни миллионов долларов биткойны, они являются желанной целью для хакеров. Поэтому разумно хранить ваши биткойны самостоятельно, а не доверять их на обмен. Ниже список кошельков, которые не будут предоставлять сторонний доступ к вашим биткойнам:</p>
					<p>Мобильные кошки Биткойн считаются практичными для хранения небольших количеств биткойнов. Такие кошельки менее подвержены вредоносным программам, чем компьютеры, и создают безопасную среду. Ниже перечислены лучшие из них:</p>
					<p>Airbitz</p>
					<p>Mycelium</p>
					<p>BitPay</p>
					<p>Jaxx</p>
					<p>Легкость веб-кошельков в их онлайн-доступности. Вам просто нужно настроить его и войти в систему. Самый популярный веб-кошелек: Blockchain.info</p>
					<p>Если вы новичок в биткойне и нацелены на большой биткойн, тогда ваш выбор - это аппаратные кошельки. Он считается самым безотказным вариантом. Самый популярный кошелек такого типа - Trezor Ledger</p>
					<p>Расширенный тип кошелька предназначен для биткойнов. Такой тип не подходит для новичков. Вам нужно будет запустить локальную копию блока, чтобы ваши транзакции были анонимными. Программный кошелек включает в себя:</p>
					<p>Armory Multibit</p>
				</li>
				<li>
					<p>Депонирование</p>
					<p>Создание депозита с помощью ElTrade доступно вам сразу после того, как вы пополнили PerfectMoney, Payeer и / или BitCoin. Все, что вам нужно, это выбрать инвестиционный план и указать сумму вклада в своем аккаунте. После этого ваш депозит становится активным в течение всего трейдингового периода.</p>
					<p>Вы можете снять или повторно инвестировать всю свою ежедневную прибыль. И в конце трейдингового периода вы можете вернуть свои инвестиции или повторно инвестировать.</p>
					<p>Вы также можете добавить средства на уже действующий депозит, это не повлияет на его трейдовый период.</p>
					<p>В случае возникновения любых вопросов или трудностей обратитесь в наш отдел поддержки.</p>
				</li>
			</ul>



		</div>
		<!--end l-->


	</div>
	<!--end article-page-->


	{% endblock %}
