---
title: Index page
navBg: true

---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "components/_nav.html" %}

<!--begin article-page-->
<div class="article-page article">
	<!--begin l-->
	<div class="l">
		<h1>Our History</h1>
		<p>The company was started by Steve Hendrix in 2007. That time his aim was searching for forward-looking business values of investment sphere. He managed to engage the high-level investment consultant for ElTradeGroup’s $110 million budget. The primary objective was buying unprofitable enterprises in order to re-energise them and make prosperous. This year our company was among the few all over the world whose annual profit was reported.</p>
		<p>It took off from there. In 2010 the company got to the top as the ‘Best Asset Investment Source’ at the International Investment Industry Awards. One more achievement is taking the leading position on Forex market 2010-2016.  The development for the company in this period was also the large-scale deal on private sector merger and acquisition in the GCC for Eco. It got possible by selling its 53% stake in Southwest</p>
		<p>Sector of Investment industry.</p>
		<p>Being prosperous for three year due to successful operation, the company managed to extend the maturity of our 30 million bonds of 2010 year for 2 years more. This was instrumental in deriving benefit from investments. One more important thing at this time that Investment Research Department introduced an annual fact-book on KSE-listed companies and a monthly GCC Equity Markets Review.</p>
		<p>In a year Investment Intelligence Ltd. gave us an “investment grade” and our bond issue was rated ‘A+’. </p>
		<p>This time two new funds started: the first one was for Europe quoted securities - the ElTrade EU Investment, and the second - the US Private Equity Opportunities Fund, here were unlisted securities for US private companies.</p>
		<p>In 2010-2017 the company’s transactions increased to $2.8 billion holding 92% of the newly established Seychelles-compliant investment company. Establishing itself as a leading choice, the company got top Western Investment sector. Our Investment & High Yield Fund was the leading light of ElTrade Group ever, taking the 1st place among Investment classical market’s operators. </p>
		<p>In 2018 was taken a decision of originating an online investment portal. Since then the new website is functioning providing company’s further well-being and giving investment opportunities all over the world. The site is also a corporate platform and reflects the company’s philosophy to the full extent.</p>
	</div>
	<!--end l-->


</div>
<!--end article-page-->


{% endblock %}
