---
title: Index page
navBg: true

---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "components/_nav.html" %}

<!--begin article-page-->
<div class="article-page article">
	<!--begin l-->
	<div class="l">
		<h1>Наша история</h1>
		<p>Компания была основана Стивом Хендриксом в 2007 году. Его цель заключалась в поиске перспективных бизнес-ценностей инвестиционной сферы. Ему удалось привлечь инвестиционного консультанта высокого уровня для бюджета ElTradeGroup в размере 110 миллионов долларов. Основная цель заключалась в том, чтобы покупать убыточные предприятия, чтобы оживить их и добиться процветания. В том, кризисном году, году наша компания была среди немногих во всем мире, которые получил операционную прибыль.</p>
		<p>Тогда и произошел наш взлет. В 2010 году компания получила рейтинг «Лучший источник инвестиций в активы» на Международной инвестиционной премии. Еще одно достижение, компания занимает лидирующие позиции на рынке Forex 2010-2016. Развитие компании в этот период также стало крупномасштабной сделкой по слиянию и поглощению частного сектора в GCC для Eco. Это стало возможным благодаря продаже 53% акций в Юго-западном секторе инвестиционной индустрии.</p>
		<p>Будучи процветающими в течение трех лет благодаря успешной работе, компании удалось продлить срок погашения наших 30 миллионов облигаций 2010 года на 2 года больше. Это помогло извлечь выгоду из инвестиций. Еще одна важная вещь в это время, что Департамент инвестиционных исследований представил ежегодную фактологическую книгу о компаниях, котирующихся на KSE, и ежемесячный обзор рынков акций GCC.</p>
		<p>В течение года такая авторитетная компания «Инвестиционные исследования» дала нам «инвестиционный класс» при выпуске облигаций - «A +».</p>
		<p>В течение года такая авторитетная компания «Инвестиционные исследования» дала нам «инвестиционный класс» при выпуске облигаций - «A +».</p>
		<p>В 2010-2017 годах транзакции компании выросли до 2,8 млрд. Долл. США, что составляет 92% от недавно созданной инвестиционной компании, базирующейся на Сейшельских островах. Основываясь на лидирующем выборе, компания получила топ сектор западных инвестиций. Наш инвестиционный и высокодоходный фонд был лидером среди ElTrade Group, заняв 1-е место среди операторов классического рынка инвестиций.</p>
		<p>В 2010-2017 годах транзакции компании выросли до 2,8 млрд. Долл. США, что составляет 92% от недавно созданной инвестиционной компании, базирующейся на Сейшельских островах. Основываясь на лидирующем выборе, компания получила топ сектор западных инвестиций. Наш инвестиционный и высокодоходный фонд был лидером среди ElTrade Group, заняв 1-е место среди операторов классического рынка инвестиций.</p>

	</div>
	<!--end l-->


</div>
<!--end article-page-->


{% endblock %}
