---
title: Index page
navBg: true
navMode: 'nav--mb'
headerMode: 'header--mb-mob'
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "components/_nav.html" %}

<!--begin l-->
<div class="l">
	<!--begin news-->
	<div class="news">
		<div class="news-item">
			<div class="news-item__img">
				<div class="news-item__date">
					<p>23</p>
					<span>ноября</span>
				</div>
				<img src="img/news-img.jpg" alt="alt">
			</div>
			<div class="news-item__inner">
				<p class="news-item__title">Заголовок новости, 
				возможно в две - три строки</p>
				<a class="link" href="#" >Читать</a>
			</div>
		</div>
		<div class="news-item">
			<div class="news-item__img">
				<div class="news-item__date">
					<p>23</p>
					<span>ноября</span>
				</div>
				<img src="img/news-img.jpg" alt="alt">
			</div>
			<div class="news-item__inner">
				<p class="news-item__title">Заголовок новости, 
				возможно в две - три строки</p>
				<a class="link" href="#" >Читать</a>
			</div>
		</div>
		<div class="news-item">
			<div class="news-item__img">
				<div class="news-item__date">
					<p>23</p>
					<span>ноября</span>
				</div>
				<img src="img/news-img.jpg" alt="alt">
			</div>
			<div class="news-item__inner">
				<p class="news-item__title">Заголовок новости, 
				возможно в две - три строки</p>
				<a class="link" href="#" >Читать</a>
			</div>
		</div>
		<div class="news-item">
			<div class="news-item__img">
				<div class="news-item__date">
					<p>23</p>
					<span>ноября</span>
				</div>
				<img src="img/news-img.jpg" alt="alt">
			</div>
			<div class="news-item__inner">
				<p class="news-item__title">Заголовок новости, 
				возможно в две - три строки</p>
				<a class="link" href="#" >Читать</a>
			</div>
		</div>


	</div>
	<!--end news-->
</div>
<!--end l-->






{% endblock %}
