---
title: Index page
navBg: true

---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "components/_nav.html" %}

<!--begin article-page-->
<div class="article-page article">
	<!--begin l-->
	<div class="l">
		<h1>Положения и условия</h1>
		<h2>«Принятие условий»</h2>
		<p>Чтобы получить доступ ко всем услугам ElTrade Group на веб-сайте eltradegroup.com, вы должны принять следующие условия и положения, а также все соответствующие изменения или изменения к ним. Если вы не принимаете настоящие Условия или Политику конфиденциальности, у вас не будет доступа к веб-сайту или услугам ElTrade Group.</p>
		<br>
		<br>
		<h2>"Политика конфиденциальности"</h2>
		<p>Чтобы контролировать сетевой трафик и предотвратить нежелательные попытки загрузить или изменить информацию, или иным образом нанести ущерб, компьютерная система использует компьютерные программы. Все это делается для обеспечения безопасности сайта и обеспечения доступности сервисов сайта для всех пользователей круглосуточно. Если такой контроль получит доказательства возможного злоупотребления или преступной деятельности, то дело может быть передано в суд. Все несанкционированные попытки загрузить или изменить информацию на этом сервере строго запрещены и могут быть причиной возбуждения судебного разбирательства в соответствии с Актом о компьютерных мошенничествах и злоупотреблениях 1986 года и Законом о национальной защите информационной инфраструктуры или другим законом.</p>
		<br>
		<br>
		<h2>«Приемлемое использование и поведение»</h2>
		<p>Всю информацию через сервис Eltrade Group, вы принимаете под полную свою ответственность. Вы несете исключительную ответственность за работу на сервисе ElTrade Group. Вы соглашаетесь не предъявлять никаких претензий в случае любых убытков, расходов, ответственности и расходов, которые могут возникнуть или связаны с вашими данными, использованием вами Сервиса или вашим нарушением этих условий.</p>
		<p>Программное обеспечение и сервис предоставляются вам, вашей компании и / или вашим клиентам только для личного или коммерческого использования. Использование должно соответствовать всем применимым законам, правилам и положениям и не должно наносить ущерб правам третьих лиц.</p>
		<p>Любое нерегулярное использование любого Wildbit Service является нарушением настоящего Соглашения и некоторых федеральных законов и законов штата. Такие нарушения могут привести несанкционированного пользователя к гражданским и уголовным наказаниям.</p>
		<br>
		<br>
		<h2>«Правила рассылки через электронные письма»</h2>
		<p>Ссылка на Unsubscribe должна быть добавлена ​​к каждому электронному письму, отправленному с использованием Сервиса, чтобы позволить абоненту отказаться от получения дальнейших писем. Такая ссылка должна быть доступна подписчику в течение как минимум тридцати дней. Вы соглашаетесь сохранить ссылку на отмену подписки на все отправленные электронные письма.</p>
		<p>Все списки электронной почты, содержащиеся и отправляемые на Службу, должны быть подписями на основе разрешений. Использование списка, который был приобретен, арендован или у стороннего производителя, строго запрещен.</p>
		<p>Запросы на отмену подписки на ваш список, выходящие за рамки компетенции ElTrade Group, контролируются вами под на вашу ответственность. Несанкционированные электронные письма будут отвечать жалобам о нарушении и будут отражены в вашей учетной записи. По собственному усмотрению ElTradeGroup можно определить, являются ли жалобы на злоупотребления легитимными.</p>
		<p>ElTrade Group оставляет за собой право ограничить любую учетную запись, обнаруженную ею в нарушение ее Условий использования, получая жалобы на злоупотребления, превышающие допустимые, без возмещения инвестиционных затрат.</p>
		<br>
		<br>
		<h2>«Соответствие федеральным нормам»</h2>
		<p>Вы несете ответственность за соответствие нормам с федеральным регулированием CAN-SPAM. Newsberry регулирует электронную почту по переписке со следующими двумя условиями:</p>
		<p>1. Каждое отправленное сообщение должно содержать ссылку на подписку с одним кликом, которая легко доступна. ElTrade Group разрешает выбирать местоположение ссылки (сверху или снизу кампании), но невозможно отправить кампанию без ссылки.</p>
		<p>2. В каждом электронном письме должна быть указана информация, не связанная с доступом в Интернет. Это может быть физический бизнес-адрес и / или номер телефона.</p>
		<br>
		<br>
		<h2>«Гарантии и заверения»</h2>
		<p>Вы соглашаетесь с тем, что услуга предоставляется ElTrade Group, ее аффилированными лицами, поставщиками и реселлерами и они прямо отказываются от любых гарантий любого рода, помимо возврата, явных или подразумеваемых, включая, без ограничений, гарантию товарности, пригодность для определенной цели, не нарушение прав или поручительство ваших данных на серверах ElTradeGroup. ElTrade Group, ее аффилированные лица, поставщики и реселлеры не предоставляют никаких обязательств или заверений, кроме возмещений результатов, которые могут быть получены от использования Сервиса, безопасности Сервиса или того, что Служба удовлетворит любые пользовательские требования, выходящие за рамки политики возврата. Использование Сервиса - это ваша собственная ответственность.</p>
		<p>Любой ущерб, причиненный вами в результате использования Сервиса, - это ваша ответственность. Использование, безопасность или производительность, приводящие к риску Сервиса, остаются с вами.</p>
		<br>
		<br>
		<h2>"Ограничение ответственности"</h2>
		<p>В любом случае ElTrade Group отвечает за любые косвенные, специальные, случайные, косвенные или штрафные убытки (включая, но не ограничиваясь, потерю использования, упущенную выгоду или потерю данных). Помимо того, что в действии по контракту, гражданским правоотношениям (включая, но не ограничиваясь халатностью), объективным или иным образом, возникающем или каким-либо образом связанным с использованием или невозможностью использования этого сайта или материалов в нем или в результате несанкционированного доступа к данным или их изменение.</p>
		<br>
		<br>
		<h2>«Политика АНТИ-СПАМ»</h2>
		<p>Сбор адресов электронной почты или другой информации из Сервисов или через них ограничивается ElTrade. Использование Сервисов с целью получения любой информации о клиентах или подписчиках ElTade, включая, помимо прочего, адреса электронной почты абонента, которые являются конфиденциальной и конфиденциальной информацией ElTrade, также запрещено. Использование Услуг также подлежит применимому Закону о конфиденциальности и Условиям использования.</p>
		<p>Все попытки использовать Службы таким образом, которые могут причинить ущерб, отключить, перегрузить или повредить любой функционал любого из Сервисов или которые могли бы отключить использование и пользование какой-либо другой стороной любой Сервиса, также ограничены ElTrade.</p>
		<p>ElTrade Group берет на себя ответственность за несанкционированное или ненадлежащее использование любого Сервиса и может без предупреждения предпринимать такие действия, как блокирование сообщений из определенного интернет-домена, почтового сервера или IP-адреса. ElTrade Group может заблокировать любую учетную запись в короткие сроки на любом Сервисе, которую она определяет по своему усмотрению, передает или иным образом связана с любым электронным сообщением, которое нарушает эту политику.</p>
		<p>Эта политика не дает права передавать или отправлять электронную почту в Службу или через нее. Несоблюдение этой политики в каждом случае не означает отказ от прав ElTrade.</p>
		<p>Несанкционированное использование Сервисов, включая передачу неавторизованного сообщения электронной почты, передача электронной почты при нарушении этой политики может привести к гражданским, уголовным или административным штрафам против отправителя и тех, кто оказывает помощь отправителю.</p>

	</div>
	<!--end l-->


</div>
<!--end article-page-->


{% endblock %}
