---
title: Index page
navBg: true

---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "components/_nav.html" %}

<!--begin article-page-->
<div class="article-page article">
	<!--begin l-->
	<div class="l">
		<h1>Terms and Conditions of Service</h1>
		<h2>"Acceptance of Terms"</h2>
		<p>In order to have an access to all the services of ElTrade Group at eltradegroup.com web site, you are to accept the following terms and conditions, as well as all respective changes or modifications to them. In case you do not accept these Terms or Privacy Policy, you will not have an access to the ElTrade Group website or services.</p>
		<br>
		<br>
		<h2>"Privacy Policy"</h2>
		<p>In order to control network traffic and search for unsolicited attempts to upload or change information, or otherwise cause damage the host computer system employs software programs. All this is done for site security purposes and to make sure that the site services are accessible to all users round the clock. If such a control hunts out evidence of possible abuse or criminal activity, then the case may be taken to court. All the unsolicited attempts to upload or change information on this server are strictly prohibited and may bring judicial proceedings against it under the Computer Fraud and Abuse Act of 1986 and the National Information Infrastructure Protection Act or other law.</p>
		<br>
		<br>
		<h2>"Acceptable Use and Conduct"</h2>
		<p>All your information related to the Service is on your own responsibility and conduct. You are solely liable for ElTrade Group and its supplier’s indemnification, defence. You agree to hold harmless from any and all loss, cost, liability, and expense that can arise from or related to your data, your use of the Service, or your violation of these terms.</p>
		<p>The Software and Service are made available to you, your company, and/or your customers only for personal or commercial use. The usage must comply with all applicable laws, rules and regulations and must not cause damage to third party rights.</p>
		<p>Any irregular usage of any Wildbit Service is a breach of this Agreement and certain federal and state laws. Such breaches may bring the unsolicited user and his or her agents to civil and criminal penalties.</p>
		<br>
		<br>
		<h2>"Appropriate Email Practices"</h2>
		<p>An Unsubscribe link must be added to every email sent using Service in order to allow the subscriber to opt-out of receiving further emails. Such a link is required to be available to the subscriber for at least thirty days. You agree to keep available the unsubscribe link from any and all emails sent.</p>
		<p>All email lists contained and sent to using Service must be permission-based subscriptions. The usage of a list that has been purchased, rented or from a third-party is strictly prohibited.</p>
		<p>The unsubscribe requests for Your list that are beyond of ElTrade Group competence are monitored on your own responsibility. Unauthorised emails will meet abuse complaints and will be reflected on Your account. Maintaining abuse results lower than the industry standard is also on your duty. It is at ElTradeGroup's sole discretion to determine if abuse complaints are in excess of industry standards.</p>
		<p>ElTrade Group keeps the right to restrict any account that it finds in breach of its Terms of Use by receiving abuse complaints higher than allowed, without refund.</p>
		<br>
		<br>
		<h2>"Federal Regulation Compliance"</h2>
		<p>You are responsible for coinciding with the CAN-SPAM federal regulation. Newsberry regulates emails by correspondence with the following two conditions:</p>
		<p>1. Each email sent must contain single-click unsubscribe link that is easily available. It is allowed by ElTrade Group to choose the location of the link (either on top or bottom of campaign), but it is not possible to send a campaign without a link.</p>
		<p>2. Non-internet contact information must be included in each email. This can be a physical business address and/or telephone number.</p>
		<br>
		<br>
		<h2>"Warranties and Representations"</h2>
		<p>You accept that the Service is provided by ElTrade Group, its affiliates, suppliers and Resellers expressly disclaim all warranties of any kind, beyond the Refund, express or implied, including without limitation any warranty of merchantability, fitness for a particular purpose, non-infringement or bailment of your data on ElTradeGroup’s servers. ElTrade Group, its affiliates, suppliers and Resellers provides no undertaking or representation, other than the results refunds that may be obtained from the use of the Service, the security of the Service or that the Service will satisfy any user requirements beyond Return. Use of the Service is your only risk.</p>
		<p>Any damage to you resulting from the use of the Service is only your responsibility. The use, security or performance resulting risk of the Service remains with you.</p>
		<br>
		<br>
		<h2>"Limitation of Liability"</h2>
		<p>Under any circumstances ElTrade Group is in charge of any indirect, special, incidental, consequential or punitive damages (including but not limited to loss of use, loss of profits, or loss of data). Apart from the fact whether in an action in contract, tort (including but not limited to negligence), equity or otherwise, arising out of or in any way connected with the use of or inability to use this site or the materials therein or resulting from unsolicited access to or alteration of data.</p>
		<br>
		<br>
		<h2>"ANTI-SPAM Policy"</h2>
		<p>Collecting of e-mail addresses or other information from or through the Services is restricted by ElTrade. The use of the Services with the aim of getting any information about ElTade’s customers or subscribers, including but not limited to subscriber e-mail addresses, which are ElTrade's confidential and proprietary information is also prohibited. Use of the Services is also subject to the applicable Privacy Statement and Terms of Use.</p>
		<p>All the attempts to use the Services in a manner that could cause damage, disable, overburden or impair any aspect of any of the Services, or that could disable any other party's use and enjoyment of any Service are also restricted by ElTrade.</p>
		<p>If ElTrade Group takes responsibility for unauthorized or improper use made of any Service, and may, without notice, take an action such as blocking messages from a particular internet domain, mail server or IP address. ElTrade Group may block any account at short notice on any Service which it determines, in its sole discretion, is transmitting or is otherwise connected with any e-mail that violates this policy.</p>
		<p>The policy does not give any right to transfer or send e-mail to, or through, the Services. Failure to enforce this policy in every instance does not amount to a waiver of ElTrade's rights.</p>
		<p>Unsolicited use of the Services including the transmission of unauthorized e-mail, the transmission of e-mail in breaching this policy, may result in civil, criminal, or administrative penalties against the sender and those assisting the sender.</p>

	</div>
	<!--end l-->


</div>
<!--end article-page-->


{% endblock %}
