<!--begin footer-->
<div class="footer">
	<!--begin l-->
	<div class="l">
		<!--begin footer__inner-->
		<div class="footer__inner">
			<div class="footer__left">
				<a class="footer__logo" href="#" >
					<img src="img/footer-logo.png" alt="alt">
				</a>
				<p class="copyright">© ELTRADEGROUP. All rights reserved. 2018</p>
			</div>
			<div class="footer__center ">
				<div class="accept-block">
					<p>We accept:</p>
					<ul>
						<li><img src="img/payeer.png" alt="alt"></li>
						<li><img src="img/perfectmoney.png" alt="alt"></li>
						<li><img src="img/bitcoin.png" alt="alt"></li>
					</ul>
				</div>

			</div>
			<div class="footer__right">
				<ul class="footer__nav">
					<li><a class="is-active" href="#">Terms Of service</a></li>
					<li><a href="#">Security recommendations</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
				<button class="contact-btn">
					<span>Contact us</span>
					{{mixins.icon('plane')}}
				</button>
			</div>
		</div>
		<!--end footer__inner-->

	</div>
	<!--end l-->

</div>
<!--end footer-->
