<h1 class="cabinet__title title-decor title-decor--green">Account Overview </h1>
<!--begin cab-plate-->
<div class="cplate">
	<div class="cplate-item">
		<h2 class="cplate-item__title title-m">Account info</h2>
		<div class="cplate-item__top">
			<div class="cplate-item__icon">
				{{mixins.icon('account-info')}}
			</div>
			<div class="cplate-item__top-right">
				<p>UserName</p>
				<p class="cplate-item__sub-text">Useremail@gmail.com</p>
			</div>
		</div>
		<div class="cplate-item__content">
			<div class="cplate-item__line cplate-item__line--left-aligment">
				<div class="cplate-item__line-left">
					Registration date
				</div>
				<div class="cplate-item__line-right">
					Sep -20-2018
				</div>
			</div>
			<div class="cplate-item__line cplate-item__line--left-aligment">
				<div class="cplate-item__line-left">
					Last access
				</div>
				<div class="cplate-item__line-right">
					Sep 20-2018 09:52:45am
				</div>
			</div>
			<div class="cplate-item__line cplate-item__line--left-aligment">
				<div class="cplate-item__line-left">
					IP adress
				</div>
				<div class="cplate-item__line-right">
					3254.34754.323
				</div>
			</div>
			<div class="cplate-item__line cplate-item__line--left-aligment">
				<div class="cplate-item__line-left">
					Your upline
				</div>
				<div class="cplate-item__line-right">
					<span class="is-empty"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="cplate-item">
		<h2 class="cplate-item__title title-m">Earnings status</h2>
		<div class="cplate-item__top">
			<div class="cplate-item__icon">
				{{mixins.icon('coins')}}
			</div>
			<div class="cplate-item__top-right">
				<p>0.00 $</p>
				<p class="cplate-item__sub-text">account ballance</p>
			</div>
		</div>
		<div class="cplate-item__content">
			<div class="cplate-item__line ">
				<div class="cplate-item__line-left">
					Total deposit
				</div>
				<div class="cplate-item__line-right">
					0.00 $
				</div>
			</div>
			<div class="cplate-item__line ">
				<div class="cplate-item__line-left">
					Active deposit
				</div>
				<div class="cplate-item__line-right">
					0.00 $
				</div>
			</div>
			<div class="cplate-item__line ">
				<div class="cplate-item__line-left">
					Last deposit
				</div>
				<div class="cplate-item__line-right">
					0.00 $
				</div>
			</div>
		</div>
	</div>
	<div class="cplate-item">
		<h2 class="cplate-item__title title-m">Withdrawal status</h2>
		<div class="cplate-item__top">
			<div class="cplate-item__icon">
				{{mixins.icon('withdraw-status')}}
			</div>
		</div>
		<div class="cplate-item__content">
			<div class="cplate-item__line ">
				<div class="cplate-item__line-left">
					Total withdrawal
				</div>
				<div class="cplate-item__line-right">
					0.00 $
				</div>
			</div>
			<div class="cplate-item__line ">
				<div class="cplate-item__line-left">
					Pending withdrawal
				</div>
				<div class="cplate-item__line-right">
					0.00 $
				</div>
			</div>
			<div class="cplate-item__line ">
				<div class="cplate-item__line-left">
					Last withdrawal
				</div>
				<div class="cplate-item__line-right">
					0.00 $
				</div>
			</div>
		</div>
	</div>
	<div class="cplate-item">
		<h2 class="cplate-item__title title-m">Refferals</h2>
		<div class="cplate-item__top">
			<div class="cplate-item__icon">
				{{mixins.icon('refferals')}}
			</div>
			<div class="cplate-item__top-right cplate-item__top-right--sm">
				<p>For participation in our partner program you don't need to have your own deposit.</p>
			</div>
		</div>
		<div class="cplate-item__content">
			<div class="cplate-item__line ">
				Your Referral Link
			</div>
			<div class="field">
				<input type="text" value="https://Referral Link">
			</div>
		</div>
		<div class="cplate-item__bottom">
			<button class="btn btn--sm">Banners</button>
		</div>
	</div>
</div>
<!--end cab-plate-->
