<h1 class="cabinet__title cabinet__title--big-mb title-decor title-decor--green">Active deposits</h1>
<!--begin select-line-->
<div class="select-line">
	<div class="select-line__inner">
		<div class="select-group">
			<span class="select-group__title">From</span>
			<select>
				<option value="">Dec</option>
				<option value="">Dec</option>
				<option value="">Dec</option>
			</select>
			<select>
				<option value="">01</option>
				<option value="">01</option>
				<option value="">01</option>
			</select>
			<select>
				<option value="">2017</option>
				<option value="">2017</option>
				<option value="">2017</option>
			</select>
		</div>
		<div class="select-group">
			<span class="select-group__title">to</span>
			<select>
				<option value="">Dec</option>
				<option value="">Dec</option>
				<option value="">Dec</option>
			</select>
			<select>
				<option value="">01</option>
				<option value="">01</option>
				<option value="">01</option>
			</select>
			<select>
				<option value="">2018</option>
				<option value="">2018</option>
				<option value="">2018</option>
			</select>
		</div>
	</div>
	<button class="btn">Show transaction</button>
</div>
<!--end select-line-->
<div class="table-wrapper">
	<div class="table">
		<!--begin table__row -->
		<div class="table__row table__row--head">
			<div class="table__cell table__cell--head" style="width: 0.46%">Type</div>
			<div class="table__cell table__cell--head" style="width: 0.32%">Amount</div>
			<div class="table__cell table__cell--head" style="width: 0.20%">Date</div>
		</div>
		<!--end table__row -->
		<!--begin table__row-->
		<div class="table__row">
			<div class="table__cell table__cell--name" style="width: 0.46%">Operation name</div>
			<div class="table__cell" style="width: 0.32%">30 254 00</div>
			<div class="table__cell" style="width: 0.20%">25.18.2016</div>
		</div>
		<!--end table__row-->
		<!--begin table__row-->
		<div class="table__row">
			<div class="table__cell table__cell--name" style="width: 0.46%"></div>
			<div class="table__cell" style="width: 0.32%"></div>
			<div class="table__cell" style="width: 0.20%"></div>
		</div>
		<!--end table__row-->
		<!--begin table__row-->
		<div class="table__row">
			<div class="table__cell table__cell--name" style="width: 0.46%"></div>
			<div class="table__cell" style="width: 0.32%"></div>
			<div class="table__cell" style="width: 0.20%"></div>
		</div>
		<!--end table__row-->
		<!--begin table__row-->
		<div class="table__row">
			<div class="table__cell table__cell--name" style="width: 0.46%"></div>
			<div class="table__cell" style="width: 0.32%"></div>
			<div class="table__cell" style="width: 0.20%"></div>
		</div>
		<!--end table__row-->

	</div>
</div>
