<h1 class="cabinet__title title-decor title-decor--green">Affilate program</h1>
<!--begin cab-plate-->
<div class="cplate">
	<div class="cplate-item">
		<h2 class="cplate-item__title title-m">Refferal stats</h2>
		<div class="cplate-item__content">
			<div class="cplate-item__line ">
				<div class="cplate-item__line-left">
					Your upline
				</div>
				<div class="cplate-item__line-right">
					<span class="is-empty"></span>
				</div>
			</div>
			<div class="cplate-item__line ">
				<div class="cplate-item__line-left">
					Refferals
				</div>
				<div class="cplate-item__line-right">
					0
				</div>
			</div>
			<div class="cplate-item__line ">
				<div class="cplate-item__line-left">
					Active refferals
				</div>
				<div class="cplate-item__line-right">
					0
				</div>
			</div>
			<div class="cplate-item__line ">
				<div class="cplate-item__line-left">
					Total comission
				</div>
				<div class="cplate-item__line-right">
					$ 0.00
				</div>
			</div>
		</div>
	</div>
	<div class="cplate-item">
		<div class="cplate-item__top">
			<div class="cplate-item__icon">
				{{mixins.icon('refferals')}}
			</div>
			<div class="cplate-item__top-right cplate-item__top-right--sm">
				<p>For participation in our partner program you don't need to have your own deposit. You earn referral commission is paid directly into you account instantly. </p>
			</div>
		</div>
		<div class="cplate-item__content">
			<div class="cplate-item__line ">
				Your Referral Link
			</div>
			<div class="field">
				<input type="text" value="https://Referral Link">
			</div>
		</div>
		<div class="cplate-item__bottom">
			<button class="btn btn--sm">Banners</button>
		</div>
	</div>
</div>
<!--end cab-plate-->
<h2 class="title-m">Your refferals</h2>
<!--begin select-line-->
<div class="select-line">
	<div class="select-line__inner">
		<div class="select-group">
			<span class="select-group__title">From</span>
			<select>
				<option value="">Dec</option>
				<option value="">Dec</option>
				<option value="">Dec</option>
			</select>
			<select>
				<option value="">01</option>
				<option value="">01</option>
				<option value="">01</option>
			</select>
			<select>
				<option value="">2017</option>
				<option value="">2017</option>
				<option value="">2017</option>
			</select>
		</div>
		<div class="select-group">
			<span class="select-group__title">to</span>
			<select>
				<option value="">Dec</option>
				<option value="">Dec</option>
				<option value="">Dec</option>
			</select>
			<select>
				<option value="">01</option>
				<option value="">01</option>
				<option value="">01</option>
			</select>
			<select>
				<option value="">2018</option>
				<option value="">2018</option>
				<option value="">2018</option>
			</select>
		</div>
	</div>
	<button class="btn">Show transaction</button>
</div>
<!--end select-line-->
<div class="table-wrapper">
	<div class="table">
		<!--begin table__row -->
		<div class="table__row table__row--head">
			<div class="table__cell table__cell--head" style="width: 46%">Username</div>
			<div class="table__cell table__cell--head" style="width: 32%">Email</div>
			<div class="table__cell table__cell--head" style="width: 20%">Register on</div>
		</div>
		<!--end table__row -->
		<!--begin table__row-->
		<div class="table__row">
			<div class="table__cell table__cell--name" style="width: 46%">User name</div>
			<div class="table__cell" style="width: 32%">usermail@gmail.com</div>
			<div class="table__cell" style="width: 20%">25.18.2016</div>
		</div>
		<!--end table__row-->
		<!--begin table__row-->
		<div class="table__row">
			<div class="table__cell table__cell--name" style="width: 46%"></div>
			<div class="table__cell" style="width: 32%"></div>
			<div class="table__cell" style="width: 20%"></div>
		</div>
		<!--end table__row-->
		<!--begin table__row-->
		<div class="table__row">
			<div class="table__cell table__cell--name" style="width: 46%"></div>
			<div class="table__cell" style="width: 32%"></div>
			<div class="table__cell" style="width: 20%"></div>
		</div>
		<!--end table__row-->
		<!--begin table__row-->
		<div class="table__row">
			<div class="table__cell table__cell--name" style="width: 46%"></div>
			<div class="table__cell" style="width: 32%"></div>
			<div class="table__cell" style="width: 20%"></div>
		</div>
		<!--end table__row-->

	</div>
</div>
