<h1 class="cabinet__title cabinet__title--m-mb  title-decor title-decor--green">Edit profile</h1>
<!--begin edit-block-->
<div class="edit-block">
	<h2 class="title-m title-m--big-mb">
		Personal information
	</h2>
	<div class="edit-row">
		<div class="edit-row__left">
			Account Name:	
		</div>
		<div class="edit-row__right">
			Uzer’s Name	
		</div>
	</div>
	<div class="edit-row">
		<div class="edit-row__left">
			Registration date:
		</div>
		<div class="edit-row__right">
			Dec-15-2018 06:53:29 PM
		</div>
	</div>
	<div class="edit-row">
		<div class="edit-row__left">
			Your Full Name:
		</div>
		<div class="edit-row__right">
			<div class="field">
				<input type="text">
			</div>
		</div>
	</div>
	<div class="edit-row">
		<div class="edit-row__left">
			Email adress:
		</div>
		<div class="edit-row__right">
			<div class="field">
				<input type="text">
			</div>
		</div>
	</div>
	<div class="edit-row">
		<div class="edit-row__left">
			New Password:
		</div>
		<div class="edit-row__right">
			<div class="field">
				<input type="text">
			</div>
		</div>
	</div>
	<div class="edit-row">
		<div class="edit-row__left">
			Retype Password:
		</div>
		<div class="edit-row__right">
			<div class="field">
				<input type="text">
			</div>
		</div>
	</div>
</div>
<!--end edit-block-->



<!--begin edit-block-->
<div class="edit-block">
	<h2 class="title-m title-m--big-mb">
		Refferal program
	</h2>
	<div class="edit-row">
		<div class="edit-row__left">
			Your RCB percent (0 - 100)
		</div>
		<div class="edit-row__right">
			0.00
		</div>
	</div>

</div>
<!--end edit-block-->


<!--begin edit-block-->
<div class="edit-block">
	<h2 class="title-m title-m--big-mb">
		Personal information
	</h2>
	<div class="edit-row">
		<div class="edit-row__left">
			<img src="img/perfectmoney.png" alt="alt">
			PerfectMoney
		</div>
		<div class="edit-row__right">
			<div class="field">
				<input type="text" value="sglkfsdhjsd’lgjs;ga">
			</div>
		</div>
	</div>
	<div class="edit-row">
		<div class="edit-row__left">
			<img src="img/payeer.png" alt="alt">
			Payeer
		</div>
		<div class="edit-row__right">
			<div class="field">
				<input type="text" value="sglkfsdhjsd’lgjs;gakadhkhhgkhgkdhkdkdgkdkdkkgdkdk">
			</div>
		</div>
	</div>
	<div class="edit-row">
		<div class="edit-row__left">
			<img src="img/bitcoin.png" alt="alt">
			Bitcoin
		</div>
		<div class="edit-row__right">
			<div class="field">
				<input type="text" value="sglkfsdhjsd’lgjs;gakadhkhhgkhgkdhkdkdgkdkdkkgdkdk">
			</div>
		</div>
	</div>
	<div class="edit-row">
		<div class="edit-row__left">
			<img src="img/litecoin.png" alt="alt">
			Linecoin
		</div>
		<div class="edit-row__right">
			<div class="field">
				<input type="text" value="sglkfsdhjsd’lgjs;gakadhkhhgkhgkdhkdkdgkdkdkkgdkdk">
			</div>
		</div>
	</div>
	<div class="edit-row">
		<div class="edit-row__left">
			<img src="img/ethereum.png" alt="alt">
			Ethereum
		</div>
		<div class="edit-row__right">
			<div class="field">
				<input type="text" value="sglkfsdhjsd’lgjs;gakadhkhhgkhgkdhkdkdgkdkdkkgdkdk">
			</div>
		</div>
	</div>
	<div class="edit-block__btns">
		<button class="btn">Save</button>
	</div>
	
</div>
<!--end edit-block-->
