<h1 class="cabinet__title cabinet__title--m-mb  title-decor title-decor--green">Promotion</h1>
<h2 class="title-m title-m--big-mb">
	Banners
</h2>
<div class="btns-row">
	<button class="btn">125x125</button>
	<button class="btn">468x60</button>
	<button class="btn">728x90</button>
</div>
<h2 class="title-m ">
	Banner code
</h2>
<code>
&lt;a target="_blank" href="https://hightechforex.com/?ref=”fhdgs"&gt;&lt;img src="https://hightechforex.com/banners/728x90.gif" width="728" height="90" alt=""&gt;&lt;/a&gt;
	
</code>