<!--begin sidebar-->
<div class="sidebar">
	<ul class="sidebar__list">
		<li>
			<a class="is-active" href="#">
				<i>{{mixins.icon('account')}}</i>
				<span>Account Overview</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i>{{mixins.icon('funds')}}</i>
				<span>Add funds</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i>{{mixins.icon('deposit')}}</i>
				<span>Active Deposits</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i>{{mixins.icon('withdraw')}}</i>
				<span>Withdraw</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i>{{mixins.icon('history')}}</i>
				<span>Earning History</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i>{{mixins.icon('affiliate')}}</i>
				<span>Affiliate Program</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i>{{mixins.icon('promotion')}}</i>
				<span>Promotion</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i>{{mixins.icon('edit')}}</i>
				<span>Edit Profile</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i>{{mixins.icon('logout')}}</i>
				<span>Logout</span>
			</a>
		</li>
	</ul>
</div>
<!--end sidebar-->
		