.icon-account-info {
  width: 1em;
  height: 1em;
  fill: #2C2F33;
}
.icon-account {
  width: 0.85em;
  height: 1em;
  fill: initial;
}
.icon-affiliate {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 1.31em;
  height: 1em;
  fill: initial;
}
.icon-coins {
  width: 1.07em;
  height: 1em;
  fill: initial;
}
.icon-deposit {
  width: 1.03em;
  height: 1em;
  fill: initial;
}
.icon-edit {
  width: 1em;
  height: 1em;
  fill: #181713;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-funds {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.icon-history {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-lock {
  width: 0.83em;
  height: 1em;
  fill: #010101;
}
.icon-logout {
  width: 0.93em;
  height: 1em;
  fill: initial;
}
.icon-plane {
  width: 1em;
  height: 1em;
  fill: #333;
}
.icon-promotion {
  width: 0.99em;
  height: 1em;
  fill: initial;
}
.icon-refferals {
  width: 1.09em;
  height: 1em;
  fill: initial;
}
.icon-withdraw-status {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-withdraw {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
